- content_for :page_title do
  = "#{display_name(@account)}的音乐库"

- content_for :header_tags do
  = render 'accounts/og', account: @account, url: account_followers_url(@account, only_path: false)

= render 'accounts/header', account: @account

.h-feed
  %data.p-name{ value: "#{@account.username} on #{site_hostname}" }/
  .account__section-headline
    = active_link_to "歌曲", account_music_list_url(@account, content_type: :song)
    = active_link_to "专辑", account_music_list_url(@account, content_type: :album)
    = active_link_to "艺术家", account_music_list_url(@account, content_type: :artist)

- if @account.user_hides_network?
  .nothing-here= t('accounts.network_hidden')
- elsif user_signed_in? && @account.blocking?(current_account)
  .nothing-here= t('accounts.unavailable')
- elsif @rows.empty?
  - if user_signed_in?
    %div.nothing-here 
      %a.importlink{href: "/importer/music.html"}
        = "导入数据"
  - else 
    = nothing_here
- else
  .wrap{ style: "height: 20px" }
  .data-card{ class: "grid-items content-#{@content_type}"}
    = render partial: 'application/music', collection: @rows, as: :row
  = paginate @rows
