
.image-wall{ style: 'display: flex;flex-wrap: wrap;'}
  .itemwrap{ style: 'text-align: center; overflow: hidden' }
    = row[:cover] ? image_tag(row[:cover], alt: '', height: 300, style: '') : ''
    .card__bar
      = "#{row[:name]}  -  #{row[:artist_name]} - #{row[:album_name]}"

